/* **************************************** */
/* Drives the styling for species sightings */
/* **************************************** */
.node--type-species {
    text-align: left;
}
.node--type-species .fieldset-legend {
    display: none;
}
.node--type-species fieldset, .field--name-field-feature-image {
    width: 50%;
    float: left;
}
.field--name-field-presence-map {
    clear: both;
}
#leaflet-map-view-species-sightings-block-1 {
    min-width:100% !important;
}

div[id^="leaflet-map-view-species-sightings-block-"] {
    min-width: 100% !important;
}

@media only screen and (min-device-width : 320px)  and (max-device-width : 568px) {
#leaflet-map-view-species-sightings-block-1 {
    #map {height: 450px;}
}
}