/**
 * @file
 * Subtheme specific CSS.
 */

body {
    font-family: Arial,Helvetica,sans-serif;
    letter-spacing: 0em;
    line-height: 1.6em;
    /* font-family: proxima-nova; */
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .01em;
    line-height: 1.8em;
    text-transform: none;
    color: #636363;
    background-color: #fafafa !important;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    color:#2e2d49;
    margin-top: 15px;
    /* font-family: futura-pt; */
    letter-spacing: -.01em;
    line-height: 1em;
    text-transform: none;
    text-rendering: optimizeLegibility;
    text-align: left;
}
p {
    color: #636363;
}
h1 {
    margin: .67em 0;
    font-weight: 700;
    font-style: normal;
    /* below should be either ems, px or rems not mixing units */
    font-size: 3.5em; 
    text-align: center;
}
h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
}
/* ????  */
h3 {
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    color:#658678;
}
h4 {
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
}
h5 {
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}
ol {
    color:#658678;
    text-transform:uppercase;
}
a {
    color: #658678;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(101,134,120,.3);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
    background-color: transparent;
    word-wrap: break-word;
}
a:hover, a:active {
    color: rgba(101,134,120,.6) !important;
    border-color: rgba(101,134,120,.15);
    outline: 0;
    text-decoration: none;
}
.block-menu {

}
.navbar-brand img {
    max-width: 268px;
}
#block-aaweb-subtheme-main-menu .nav {
    width: 500px;
}
.navbar-brand, .nav a {
    border-bottom: none;
}
#block-aaweb-subtheme-main-menu .nav a.nav-link {
    color:#ffffff;
    text-decoration: none;
    
}
#block-aaweb-subtheme-main-menu .nav a.nav-link:hover {
color: #778;
}
#block-aaweb-subtheme-footer {
    text-align: center;
    width: 100%;
}
.footer-partner-images {

    margin-left: auto;
    margin-right: auto;
}
.footer-partner-images img  {
    width: 100%;
}
#block-aaweb-subtheme-footer a {
    display: inline-block;
}
.image-block-background {

}
.node__content,
#block-frontgetinvolved,
#block-frontprojectpartners {
    width: 66.666666%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
/* white text on any image block includes hero */
.image-block-background h1,
.image-block-background h2,
.image-block-background h3 {
    color:#ffffff; 
    text-align: center;
    white-space: pre-wrap;
}

.cta-block h3 {
    color:#ffffff;
}
/* Defined Styleed classes needs to be part of development process due to specifying in rich text editor. This defines
the default behaviour of syles to minimise overides. see dbee.ddev.site/website-styles. explicitly define to override globals */
p.lead-bg-light {
    color: #636363;
    text-transform:uppercase;
}
p.lead-bg-dark {
    color: #ffffff;
}
p.subtext-bg-light {
    color: #636363;    
}
p.subtext-bg-dark {
    color: #ffffff;
}
p.light-text {
    color: #636363;    
}
footer.site-footer {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
}
/* Consistent Buttons  */
.btn {
    font-size: 16px !important;
    padding: 14px 20px !important;
    font-weight: 700;
    /* font-family: futura-pt !important; */
    letter-spacing: .08em !important;
    text-transform: none !important;
}
.btn-primary, .btn-secondary, .btn-third, .btn-fourth, .btn-fifth {
    -webkit-transition: .1s opacity linear;
    -moz-transition: .1s opacity linear;
    -o-transition: .1s opacity linear;
    transition: .1s opacity linear;
    -webkit-backface-visibility: hidden;
    font-size: 15px; 
    display: inline-block;
    width: auto;
    height: auto;
    /* padding: 1em 2.5em; */
}
a.btn-primary {
    color: #fff;
    background-color: #2e2d49;
    border-color: #2e2d49;
}
a.btn-secondary {
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    border-radius: 3px;
    color: #fff;
    border-color: #fff;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}
/* used with mailchimp block */
a.btn-third {
    border-width: 1px;
    -webkit-box-shadow: inset 0px 0px 0px 1px #707070;
    -moz-box-shadow: inset 0px 0px 0px 1px #707070;
    box-shadow: inset 0px 0px 0px 1px #707070;
    background: transparent;
    color: #707070;
    border-radius: 3px;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid #707070 !important;
    outline: none;
    font-family: inherit;
    line-height: normal;
    white-space: nowrap;
}
a.btn-third:hover {
    background-color: #66887a !important;
    border-color: #66887a !important;
    color: #fff !important;
}

a.btn-fourth {
    color: #66887a !important;
    border-color: #66887a !important;
    border-width: 2px;
    border-style: solid;
    background-color: transparent;
    -webkit-transition: 0.1s background-color linear, 0.1s color linear;
    -moz-transition: 0.1s background-color linear, 0.1s color linear;
    -o-transition: 0.1s background-color linear, 0.1s color linear;
    transition: 0.1s background-color linear, 0.1s color linear;
    font-weight: 700;
    font-style: normal;
    border-color: #66887a !important;
    border-radius: 3px;
}
a.btn-fourth:hover {
    color: #fff !important;
    background-color: #658678;
}
a.btn-fifth {

}
#block-views-block-news-block-2 {
    padding-bottom: 17px;
}
@media (min-width: 992px) {

}
@media (min-width: 768px) {

}