/* **************************************** */
/* Drives the styling for varieies mapping and presence/absence mapping on species page */
/* **************************************** */
body {
    text-align:center;
  }
  #map {
      /* max-width: 800px; */
      height: 900px;
  }

  .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255, 255, 255, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
  }

  .info h4 {
      margin: 0 0 5px;
      color: #777;
  }

  .legend {
      text-align: left;
      line-height: 18px;
      color: #555;
      width: 175px;
  }

  .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
  }
  .flex-map {
    display: flex;
  }
  
  #map {
    margin-top:30px;
    margin: auto;
    width: 100%;
  }
  .form-control {
    max-width:200px;
  }

  /* #map {height: 600px;} */
  /* The below will only work with "DEVICES"
  PLEASE NOTE JS is setup to identify changes in resized windows and zoom levels
  */
  @media only screen and (min-width : 320px)  and (max-width : 568px) {
    #map {height: 550px;}
  }